<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find post_description)/launch/post_upload.launch"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find post_gazebo)/worlds/empty.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find post_description)/urdf/post_robot.urdf.xacro" />

  <node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model post -z 0.0"/>


  <!--
  <param name="/r12/robot_description" command="$(find xacro)/xacro.py $(find r12_description)/urdf/r12_robot.urdf.xacro" />

  <node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" args="-param /r12/robot_description -urdf -model r12 -x 2.0"/>
-->


  <!-- We do not have a robot connected, so publish fake joint states -->
  
  <!--
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
  </node>
-->
  
</launch>